<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name ="viewport" content ="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>定制</title>
		<link rel="stylesheet" href="../../assets/css/bootstrap.css">
		<link rel="stylesheet" href="../../assets/css/global.css">
		<link rel="stylesheet" href="../../assets/css/item/design.css">
	</head>
	<body>
		<div class="g-container">
			<div class="m-head">
				<div class="u-left">
					<a href="javascript:void(0);" class="menu-btn">
						<i></i>
					</a>
				</div>
				<span>服装定制</span>
			</div>
			<div class="m-nav">
				<ul>
					<li>
						<a href="../../index.html">主页</a>
					</li>
					<li>
						<a href="../item/fabric.html">定制衬衫</a>
					</li>
					<li class="nav-title">
						<a href="javascript:void(0);">我的账户</a>
					</li>
					<li>
						<a href="javascript:void(0);">会员登录</a>
					</li>
					<li>
						<a href="javascript:void(0);">查看订单</a>
					</li>
					<li>
						<a href="javascript:void(0);">我的账户</a>
					</li>
					<li>
						<a href="javascript:void(0);">联系我们</a>
					</li>
				</ul>
			</div>
			<div class="m-content">
				<form class="main-form">
					<!-- 领口 -->
					<input type="hidden" name="neckline">
					<!-- 袖子 -->
					<input type="hidden" name="sleeve">
					<!-- 版型 -->
					<input type="hidden" name="type">
					<!-- 口袋 -->
					<input type="hidden" name="pocket">
					<!-- 门襟 -->
					<input type="hidden" name="placket">
					<!-- 下摆 -->
					<input type="hidden" name="lap">
					<!-- 领口颜色 -->
					<input type="hidden" name="neckline_color">
					<!-- 个性签名-文字 -->
					<input type="hidden" name="sign_text">
					<!-- 个性签名-字体 -->
					<input type="hidden" name="sign_family">
					<!-- 个性签名-颜色 -->
					<input type="hidden" name="sign_color">
					<!-- 个性签名-位置 -->
					<input type="hidden" name="sign_location">
				</form>
				<div class="design-container row">
					
					<!-- 第二步 start -->
					<div class="step step-two">
						<div class="bartitle">
							<div class="pull-left">
								<span>选风格</span>
								<span>2/3</span>
							</div>
							<div class="pull-right">
								380元
							</div>
						</div>
						<div class="design-info">
							<div class="design-select">
								<ul>
									<li>
										<a href="javascript:void(0);" data-target="neckline">
											<img src="../../assets/img/design/dingzhi09.jpg">
										</a>
									</li>
									<li>
										<a href="javascript:void(0);" data-target="sleeve">
											<img src="../../assets/img/design/dingzhi07.jpg">
										</a>
									</li>
									<li>
										<a href="javascript:void(0);" data-target="type">
											<img src="../../assets/img/design/dingzhi08.jpg">
										</a>
									</li>
									<li>
										<a href="javascript:void(0);" data-target="pocket">
											<img src="../../assets/img/design/dingzhi11.jpg">
										</a>
									</li>
									<li>
										<a href="javascript:void(0);" data-target="placket">
											<img src="../../assets/img/design/dingzhi10.jpg">
										</a>
									</li>
								</ul>
							</div>
							<div class="pic">
								<img src="../../assets/img/dingzhi06.jpg">
							</div>
						</div>
						<div class="control">
							<a href="./fabric.html" class="back-btn">返回</a>
							<a href="javascript:void(0);" class="next-btn js-next">下一步</a>
						</div>
					</div>
					<!-- 第二步 end -->

					<!-- 第三步 start -->
					<div class="step step-three">
						<div class="bartitle">
							<div class="pull-left">
								<span>选风格</span>
								<span>3/3</span>
							</div>
							<div class="pull-right">
								380元
							</div>
						</div>
						<div class="design-info">
							<div class="design-select">
								<ul>
									<li>
										<a href="javascript:void(0);" data-target="lap">
											<img src="../../assets/img/design/dingzhi15.jpg">
										</a>
									</li>
									<li>
										<a href="javascript:void(0);" data-target="neckline_color">
											<img src="../../assets/img/design/dingzhi12.jpg">
										</a>
									</li>
									<li>
										<a href="javascript:void(0);" data-target="sign" class="custom-signature">
											<img src="../../assets/img/design/dingzhi16.jpg">
										</a>
									</li>
								</ul>
							</div>
							<div class="pic">
								<img src="../../assets/img/dingzhi06.jpg">
							</div>
						</div>
						<div class="control">
							<a href="javascript:void(0);" class="back-btn js-previous">返回</a>
							<a href="#" class="next-btn js-confirm">添加尺码</a>
						</div>
					</div>
					<!-- 第三步 end -->

				</div>

				<!-- 弹窗 start-->
				<div id="modal" class="m-modal">
					<div class="bg"></div>
					<div class="m-modal-content">
						
					</div>
				</div>
				<!-- 弹窗 end-->

			</div>
		</div>

		<!-- 普通弹窗内容 -->
		<script type="text/html" id="normal-modal-tpl">
			<div class="title">个性化选择</div>
			<div class="select-option">
				{{each options as option}}
					<div class="col-xs-6">
						<a href="javascript:void(0);" class="design-option" data-optionid="{{option.id}}" data-target={{target}}>
							<img src="{{option.img}}">
						</a>
						<div class="text">{{option.text}}</div>
					</div>
				{{/each}}
			</div>
		</script>

		<!-- 个性签名弹窗内容 -->
		<script type="text/html" id="custom-modal-tpl">
			<div class="text-field">
				<h5>输入刺绣内容</h5>
				<input type="text" class="form-control" placeholder="请输入刺绣内容" value="{{selectData.text}}">
			</div>
			<div class="clear"></div>
			<div class="font-family-field">
				<h5>字体</h5>
				<div>
					{{each sign_family as family}}
						<div class="col-xs-6">
							<label>
								<input type="radio" name="custom_sign_family" value="{{family.val}}" {{if selectData.family==family.val}}checked{{/if}}>
								<img src="{{family.img}}">
							</label>
						</div>
					{{/each}}
				</div>
			</div>
			<div class="clear"></div>
			<div class="color-field">
				<h5>选择刺绣字母颜色</h5>
				<div>
					{{each sign_color as color}}
						<div class="col-xs-2">
							<a href="javascript:void(0);" data-val="{{color.val}}" {{if selectData.color==color.val}}class="select"{{/if}}>
								<img src="{{color.img}}">
							</a>
						</div>
					{{/each}}
				</div>
			</div>
			<div class="clear"></div>
			<div class="location-field">
				<h5>刺绣位置</h5>
				<ul>
					{{each sign_location as location}}
						<li>
							<label>
								<input type="radio" name="custom_sign_location" value="{{location.val}}" {{if selectData.location==location.val}}checked{{/if}}>
								{{location.text}}
							</label>
						</li>
					{{/each}}
				</ul>
			</div>
			<div class="clear"></div>
			<div class="confirm-box">
				<a href="javascript:void(0);" class="btn btn-danger btn-block">确定<a>
			</div>
		</script>

		<script src="../../assets/js/jquery-1.10.2.min.js"></script>
		<script src="../../assets/js/bootstrap.js"></script>
		<script src="../../assets/js/arttemplate.js"></script>
		<script src="../../assets/js/global.js"></script>
		<script src="../../assets/js/item/design.js"></script>
		<script type="text/javascript">
			
		</script>
	</body>
</html>