{__NOLAYOUT__}
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>微信支付-{$title}</title>
    <script type="text/javascript">
        //调用微信JS api 支付
        function jsApiCall()
        {
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest',
                {$jsApiParameters},
                function(res){
                    WeixinJSBridge.log(res.err_msg);
                    location.href = '{$callback_url}';//回调跳转
                }
            );
        }

        function callpay()
        {
            if (typeof WeixinJSBridge == "undefined"){
                if( document.addEventListener ){
                    document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
                }else if (document.attachEvent){
                    document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                    document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
                }
            }else{
                jsApiCall();
            }
        }
        //获取共享地址
        function editAddress()
        {
            WeixinJSBridge.invoke(
                'editAddress',
                {$editAddress},
                function(res){
                    var value1 = res.proviceFirstStageName;
                    var value2 = res.addressCitySecondStageName;
                    var value3 = res.addressCountiesThirdStageName;
                    var value4 = res.addressDetailInfo;
                    var tel = res.telNumber;

                    //alert(value1 + value2 + value3 + value4 + ":" + tel);
                }
            );
        }

        window.onload = function(){
            //判断微信版本号
            var wechatInfo = navigator.userAgent.match(/MicroMessenger\/([\d\.]+)/i) ;
            if( !wechatInfo ) {
                alert("仅支持微信客户端打开访问") ;
            } else if ( wechatInfo[1] < "5.0" ) {
                alert("仅支持微信5.0以上版本") ;
                return false;
            }

            /*//使用收货地址
             if (typeof WeixinJSBridge == "undefined"){
             if( document.addEventListener ){
             document.addEventListener('WeixinJSBridgeReady', editAddress, false);
             }else if (document.attachEvent){
             document.attachEvent('WeixinJSBridgeReady', editAddress);
             document.attachEvent('onWeixinJSBridgeReady', editAddress);
             }
             }else{
             editAddress();
             }*/

            callpay();  //前往支付
        };

    </script>
</head>
<body>
{$msg}
</body>
</html>