
<link rel="stylesheet" href="./assets/css/size/newsize.css">

<div class="m-content">
    <div class="top-control">
        <a href="{:U('Home/Size/myList')}" class="btn btn-success btn-block backlist-btn">选择原有客户</a>
    </div>
    <form action="{:U('Home/Size/add')}" method="post" name="myForm">
        <h5>新用户尺码</h5>
        <div class="form-group">
            姓名
            <input type="text" name="name" class="form-control" placeholder="姓名">
        </div>
        <div class="form-group">
            性别
            &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="sex" id="male" value="male" style="width: auto;height: auto;margin: auto;" />&nbsp;<label for="male">男</label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="sex" id="female" value="female" style="width: auto;height: auto;margin: auto;" />&nbsp;<label for="female">女</label>
        </div>
        <div class="form-group">
            身高
            <input type="text" name="height" class="form-control input-short" placeholder="身高">
            CM
        </div>
        <div class="form-group">
            体重
            <input type="text" name="weight" class="form-control input-short" placeholder="体重">
            KG
        </div>
    </form>
    <div class="bottom-control">
        <a href="javascript:myForm.submit()" class="btn btn-danger btn-block addsize-btn">添加尺寸</a>
        <a href="javascript:history.back()" class="btn btn-default btn-block back-btn">返回</a>
    </div>
</div>