
{include file="pageheader.htm"}

<div class="form-div">

<form action="ads.php?act=cat_update" method="post" name="">

  <table width="100%">

    <tr>
      <td class="label">分类1 中文内容</td>
      <td><input type="text" name="cat1chs" size="30" value="{$vo.cat1chs}" /></td>
    </tr>
    <tr>
      <td class="label">分类1 英文内容</td>
      <td><input type="text" name="cat1eng" size="30" value="{$vo.cat1eng}" /></td>
    </tr>
    <tr>
      <td class="label">分类1 跳转链接</td>
      <td><input type="text" name="cat1url" size="30" value="{$vo.cat1url}" /></td>
    </tr>

    <tr>
      <td class="label">分类2 中文内容</td>
      <td><input type="text" name="cat2chs" size="30" value="{$vo.cat2chs}" /></td>
    </tr>
    <tr>
      <td class="label">分类2 英文内容</td>
      <td><input type="text" name="cat2eng" size="30" value="{$vo.cat2eng}" /></td>
    </tr>
    <tr>
      <td class="label">分类2 跳转链接</td>
      <td><input type="text" name="cat2url" size="30" value="{$vo.cat2url}" /></td>
    </tr>

    <tr>
      <td class="label">分类3 中文内容</td>
      <td><input type="text" name="cat3chs" size="30" value="{$vo.cat3chs}" /></td>
    </tr>
    <tr>
      <td class="label">分类3 英文内容</td>
      <td><input type="text" name="cat3eng" size="30" value="{$vo.cat3eng}" /></td>
    </tr>
    <tr>
      <td class="label">分类3 跳转链接</td>
      <td><input type="text" name="cat3url" size="30" value="{$vo.cat3url}" /></td>
    </tr>

    <tr>
      <td class="label">分类4 中文内容</td>
      <td><input type="text" name="cat4chs" size="30" value="{$vo.cat4chs}" /></td>
    </tr>
    <tr>
      <td class="label">分类4 英文内容</td>
      <td><input type="text" name="cat4eng" size="30" value="{$vo.cat4eng}" /></td>
    </tr>
    <tr>
      <td class="label">分类4 跳转链接</td>
      <td><input type="text" name="cat4url" size="30" value="{$vo.cat4url}" /></td>
    </tr>

    <tr>
      <td class="label">分类5 中文内容</td>
      <td><input type="text" name="cat5chs" size="30" value="{$vo.cat5chs}" /></td>
    </tr>
    <tr>
      <td class="label">分类5 英文内容</td>
      <td><input type="text" name="cat5eng" size="30" value="{$vo.cat5eng}" /></td>
    </tr>
    <tr>
      <td class="label">分类5 跳转链接</td>
      <td><input type="text" name="cat5url" size="30" value="{$vo.cat5url}" /></td>
    </tr>

    <tr>
      <td class="label">分类6 中文内容</td>
      <td><input type="text" name="cat6chs" size="30" value="{$vo.cat6chs}" /></td>
    </tr>
    <tr>
      <td class="label">分类6 英文内容</td>
      <td><input type="text" name="cat6eng" size="30" value="{$vo.cat6eng}" /></td>
    </tr>
    <tr>
      <td class="label">分类6 跳转链接</td>
      <td><input type="text" name="cat6url" size="30" value="{$vo.cat6url}" /></td>
    </tr>

    <tr>
      <td class="label">分类7 中文内容</td>
      <td><input type="text" name="cat7chs" size="30" value="{$vo.cat7chs}" /></td>
    </tr>
    <tr>
      <td class="label">分类7 英文内容</td>
      <td><input type="text" name="cat7eng" size="30" value="{$vo.cat7eng}" /></td>
    </tr>
    <tr>
      <td class="label">分类7 跳转链接</td>
      <td><input type="text" name="cat7url" size="30" value="{$vo.cat7url}" /></td>
    </tr>

    <tr>
      <td class="label">分类8 中文内容</td>
      <td><input type="text" name="cat8chs" size="30" value="{$vo.cat8chs}" /></td>
    </tr>
    <tr>
      <td class="label">分类8 英文内容</td>
      <td><input type="text" name="cat8eng" size="30" value="{$vo.cat8eng}" /></td>
    </tr>
    <tr>
      <td class="label">分类8 跳转链接</td>
      <td><input type="text" name="cat8url" size="30" value="{$vo.cat8url}" /></td>
    </tr>

      <td colspan="2"><div align="center">
        <input type="submit" name="submit" value="提交" class="button" />
      </div></td>

      </tr>

  </table>

 </form>

</div>

{include file="pagefooter.htm"}